.navbarClient {
	/*Display stuff*/
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-areas: 'select logo icon';
	align-items: center;
	/*Positioning stuff*/
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	/*Box model stuff*/
	width: 100%;
	padding: var(--space-sm) var(--space-container);
	background-color: var(--color-primary);
}

.select {
	width: fit-content;
	/*Box model stuff*/
	border: 0px;
	border-radius: var(--rounded-md);
	outline: none;
	background-color: var(--color-primary);
	/*Typography stuff*/
	color: var(--color-light);
	/*Miscellaneous*/
	cursor: pointer;
	grid-template-areas: select;
	& > option {
		background-color: var(--color-primary);
		border-radius: 2px;
	}
}

.logo {
	grid-area: logo;
	place-self: center;
}

.icon {
	grid-area: icon;
	place-self: end;
}

.linksContainer {
	/*Display stuff*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*Positioning stuff*/
	position: absolute;
	top: 65px;
	/*Box model stuff*/
	width: 100%;
	height: calc(100vh - 65px);
	padding: var(--space-lg) var(--space-container);
	background-color: var(--color-primary-transparent);
	/*Typography stuff*/
	text-align: center;
	transition: all var(--transition-normal) allow-discrete;
	gap: var(--space-md);
	backdrop-filter: blur(10px);
}

@media screen and (min-width: 700px) {
	.navbarClient {
		display: grid;
		justify-content: initial;
		grid-template-columns: 1fr auto auto;
		grid-template-areas: 'logo links select';
		gap: var(--space-md);
	}

	.logo {
		place-self: start;
	}

	.linksContainer {
		width: fit-content;
		height: fit-content;
		position: initial;
		flex-direction: row;
		left: 0;
		opacity: 1 !important;
		padding: 0;
		grid-area: links;
	}

	.icon {
		display: none;
	}
}
