.navbarClient {
	/*Display stuff*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*Positioning stuff*/
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	/*Box model stuff*/
	width: 100%;
	padding: var(--space-sm) var(--space-container);
	background-color: var(--color-primary);
}

.select {
	/*Box model stuff*/
	border: 0px;
	border-radius: var(--rounded-md);
	outline: none;
	background-color: var(--color-primary);
	/*Typography stuff*/
	color: var(--color-light);
	/*Miscellaneous*/
	cursor: pointer;

	& > option {
		background-color: var(--color-primary);
		border-radius: 2px;
	}
}

.linksContainer {
	/*Display stuff*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*Positioning stuff*/
	position: absolute;
	top: 65px;
	/*Box model stuff*/
	width: 100%;
	height: calc(100vh - 65px);
	padding: var(--space-lg) var(--space-container);
	background-color: var(--color-light-transparent);
	/*Typography stuff*/
	text-align: center;
	/*Manipulations stuff*/
	transition: all var(--transition-slow) allow-discrete;
	/*Miscellaneous*/
	gap: var(--space-md);
}
