.slideWhoWeAre {
	/*Display stuff*/
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	align-items: center;
	justify-content: center;
	/*Box model stuff*/
	width: 100%;
	min-height: 100vh;
	padding: var(--space-xl) var(--space-container);
	background-color: var(--color-primary);
	/*Typography stuff*/
	text-align: center;
	/*Miscellaneous*/
	gap: var(--space-md);
	place-items: center;
}

.iconContainer {
	/*Box model stuff*/
	height: 150px;
}

/* the noGrid class is for the last slide */
.noGrid {
	grid-template-rows: 1fr;
	text-align: center;
}

.noGrid > div {
	animation: blink var(--transition-normal) infinite linear alternate-reverse;
}

@keyframes blink {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@media (width > 700px) {
	.slideWhoWeAre {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		text-align: start;
	}

	.iconContainer {
		height: 50%;
	}

	.noGrid {
		grid-template-columns: 1fr;
	}
	/* ------------------------------- animation 1 ------------------------------ */
	.animation-1:hover {
		/*Manipulations stuff*/
		animation: animation-1 var(--transition-slow) linear infinite;
	}

	@keyframes animation-1 {
		0% {
			transform: rotate(0deg);
		}
		25% {
			transform: rotate(5deg);
		}
		50% {
			transform: rotate(0deg);
		}
		75% {
			transform: rotate(-5deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	/* ------------------------------- animation 2 ------------------------------ */
	.animation-2:hover {
		/*Manipulations stuff*/
		animation: animation-2 var(--transition-slow) linear infinite;
	}

	@keyframes animation-2 {
		0% {
			transform: scale(1);
		}
		25% {
			transform: scale(1.1);
		}
		50% {
			transform: scale(1);
		}
		75% {
			transform: scale(0.9);
		}
		100% {
			transform: scale(1);
		}
	}

	/* ------------------------------- animation 3 ------------------------------ */
	.animation-3:hover {
		/*Manipulations stuff*/
		animation: animation-3 var(--transition-slow) linear infinite;
	}

	@keyframes animation-3 {
		0% {
			transform: translateY(0px);
		}
		25% {
			transform: translateY(10px);
		}
		50% {
			transform: translateY(0px);
		}
		75% {
			transform: translateY(-10px);
		}
		100% {
			transform: translateY(0px);
		}
	}
}
