.icon {
	height: 35px;
	width: 35px;
}

.full {
	width: 100%;
	height: 100%;
}

.light {
	color: var(--color-light);
	fill: var(--color-light);
}

.primary {
	color: var(--color-primary);
	fill: var(--color-primary);
}

.hover {
	opacity: var(--opacity-normal);
	transition: var(--transition-fast);
}

.hover:hover {
	opacity: 1;
}
