.select {
	width: fit-content;
	/*Box model stuff*/
	border: 0px;
	border-radius: var(--rounded-md);
	outline: none;
	background-color: var(--color-primary);
	/*Typography stuff*/
	color: var(--color-light);
	/*Miscellaneous*/
	cursor: pointer;
	grid-template-areas: select;

	& > option {
		background-color: var(--color-primary);
		border-radius: 2px;
	}
}
