.box {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  /*Box model stuff*/
  width: 100%;
}

.label {
  /*Typography stuff*/
  color: var(--color-light);
}

.select {
  /*Box model stuff*/
  padding: var(--space-xs) var(--space-sm);
  border: 0px;
  border-radius: var(--rounded-md);
  outline: none;
  background-color: var(--color-light-transparent);
  /*Manipulations stuff*/
  opacity: 0.5;
  transition: var(--transition-normal);
}

.select:focus {
  /*Manipulations stuff*/
  opacity: 1;
  border-radius: var(--rounded-md) var(--rounded-md) 0 0;
}

.option {
  background-color: var(--color-primary);
  outline: none;
  color: var(--color-light);
  font-family: var(--font-family-base);
}
