.headerService {
	/*Display stuff*/
	display: grid;
	grid-template-rows: auto 50%;
	align-items: center;
	/*Box model stuff*/
	min-height: 100vh;
	padding: var(--space-sm) var(--space-container);
	/*Miscellaneous*/
	gap: var(--space-sm);
}

.image {
	/*Box model stuff*/
	width: 100%;
	height: 100%;
	/*Miscellaneous*/
	object-fit: contain;
}
