.headerService {
	/*Display stuff*/
	display: grid;
	grid-template-rows: 50% min-content;
	align-items: center;
	/*Box model stuff*/
	min-height: 100vh;
	padding: var(--space-sm) var(--space-container);
	/*Typography stuff*/
	text-align: center;
	/*Miscellaneous*/
	gap: var(--space-sm);
	place-content: center;
}

.image {
	/*Box model stuff*/
	width: 100%;
	height: 100%;
	/*Miscellaneous*/
	object-fit: contain;
}

@media (width > 700px) {
	.headerService {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.image {
		width: 80%;
		height: 80%;
	}
}
