.banner {
	/*Display stuff*/
	display: flex;
	align-items: center;
	justify-content: center;
	/*Box model stuff*/
	height: 100vh;
	padding: var(--space-md) var(--space-container);
	background-color: var(--color-primary);
	/*Typography stuff*/
	text-align: center;
	/*Miscellaneous*/
	overflow: hidden;
}
