.button {
  /*Box model stuff*/
  width: 100%;
  padding: var(--space-sm);
  border: 0px;
  border-radius: var(--rounded-md);
  background-color: var(--color-secondary);
  /*Typography stuff*/
  font-family: var(--font-family-title);
  text-transform: uppercase;
  color: var(--color-light);
  /*Manipulations stuff*/
  transition: var(--transition-fast);
}

.button:hover {
  /*Box model stuff*/
  background-color: var(--color-secondary-light);
}

.button:active {
  /*Manipulations stuff*/
  transform: scale(95%);
}

@media (width > 700px) {
  .button {
    width: fit-content;
  }

  .alwaysFull {
    width: 100%;
  }
}
