:root {
	--color-light: #faf2db;
	--color-light-transparent: #faf2db94;
	--color-primary-light: #63aebf;
	--color-primary: #163440;
	--color-primary-transparent: #1634409d;
	--color-secondary-light: #fd8b28;
	--color-secondary: #f24405;

	/* ------------------------------ plan colors ------------------------------ */
	--color-plan-sakura: #e4a8c9;
	--color-plan-fuji: #87a3a7;
	--color-plan-bushido: #ec8181;
	--color-plan-tenka: #ed1c24;
}
