* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	position: relative;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-width: 300px;
	max-width: 100vw;
	overflow-x: hidden;
	color: var(--color-primary);
	font-family: var(--font-family-base);
	font-size: var(--font-size-md);
	background-color: var(--color-light);
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}
