@font-face {
	font-family: 'Montserrat-Bold';
	src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSansJP-Medium';
	src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Lora-Medium';
	src: url('/fonts/Lora-Medium.ttf') format('truetype');
}

:root {
	--font-family-base: 'Lora-Medium';
	--font-family-title: 'Montserrat-Bold';
	--font-family-japanese: 'NotoSansJP-Medium';

	--font-size-sm: 1.2rem;
	--font-size-md: 1.6rem;
	--font-size-lg: clamp(2.6rem, 10vw, 3rem);
	--font-size-xl: clamp(3rem, 10vw, 6rem);
	--font-size-2xl: clamp(5rem, 10vw, 8rem);
}
