.whatWeOffer {
	padding: var(--space-xl) var(--space-container);
}

.cardsContainer {
	margin-top: var(--space-sm);
	display: grid;
	gap: var(--space-lg);
}

@media (width > 600px) {
	.cardsContainer {
		grid-template-columns: 1fr 1fr;
	}
}

@media (width > 1024px) {
	.cardsContainer {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
