.serviceItemsContainer {
	padding: var(--space-lg) var(--space-container);
	display: grid;
	gap: var(--space-lg);
}

@media (orientation: landscape) and (width > 700px) {
	.serviceItemsContainer {
		grid-template-columns: 1fr 1fr;
	}
}
